<!DOCTYPE html>
<html>
  <head>
    <title>Akapiraweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>

    <div class="header-logo">
        <a href="/">AKAPIRA</a>
    </div>

    <ul class="header-list">
        <li><a href="/">HOME</a></li>

        <li><a href="/">Contents</a>
            <ul>
                <li><a href="/posts/index">BBS</a></li>
                <li><a href="">Music&VIDEO</a></li>
                <li><a href="">Score</a></li>
                <li><a href="">Photo</a></li>
            </ul>
        </li>

        <li><a href="/">LIVE</a>
            <ul>
                <li><a href="">近日のライブ予定</a></li>
            </ul>
        </li>

        <li><a href="/">activities</a>
            <ul>
                <li><a href="">今後の日程</a></li>
                <li><a href="">あかぴブログ</a></li>
            </ul>
        </li>

        <li><a href="/about">About us</a>
            <ul>
                <li><a href="/about">あかぴらとは</a></li>
            </ul>
        </li>

        <li><a href="">Login</a></li>

        
    </ul>
</header>

    <%= yield %>
  </body>
</html>
